name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose which environment to deploy to'
        required: true
        type: choice
        options:
          - dev
          - prod

# on:
#     push:
#         branches:
#             - dev


jobs:
    terraformapply-dev:
        runs-on: ubuntu-latest
        if: ${{ inputs.environment == 'dev' }}
        defaults:
            run:
                working-directory: "./terraform/environments/dev"
        permissions:
          id-token: write   # This is required for requesting the JWT
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ vars.AWS_GITHUB_ROLE_ARN }}
                role-session-name: github-actions-session
                aws-region: eu-west-2

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.11.1

            - name: Terraform Init
              run: terraform init

            - name: Terraform Apply
              run: terraform apply -auto-approve


    terraformapply-prod:
        runs-on: ubuntu-latest
        if: ${{ inputs.environment == 'prod' }}
        defaults:
            run:
                working-directory: "./terraform/environments/prod"
        permissions:
            id-token: write   # This is required for requesting the JWT
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ vars.AWS_GITHUB_ROLE_ARN }}
                role-session-name: github-actions-session
                aws-region: eu-west-2

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.11.1

            - name: Terraform Init
              run: terraform init

            - name: Terraform Apply
              run: terraform apply -auto-approve