name: Terraform Plan

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose which environment to plan'
        required: true
        type: choice
        options:
          - dev
          - prod

# on:
#     push:
#         branches:
#             - dev


jobs:
    terraformplan-dev:
        runs-on: ubuntu-latest
        if: ${{ inputs.environment == 'dev' }}
        defaults:
            run:
                working-directory: "./terraform/environments/dev"
        permissions:
            security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
            id-token: write   # This is required for requesting the JWT
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::677276074604:role/github-cicd-role
                role-session-name: github-actions-session
                aws-region: eu-west-2
  
            - name: Setup Tflint
              uses: terraform-linters/setup-tflint@master
              with: 
                tflint_version: latest
  
            - name: TFlint Scan   #See this link for command flags https://github.com/terraform-linters/tflint and https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/config.md#format
              run: |
                touch tflint-results-terraform.sarif
                tflint --recursive --color
              continue-on-error: true
        
            - name: Checkov
              uses: bridgecrewio/checkov-action@master
              with:
                framework: terraform
                soft_fail: true   #Soft fail true means that the pipeline will stil continue to run regardless if a vulnerability was detected. Soft fail false would be the opposite where a detected vulnerability will cause the pipeline to stop running
                output_format: cli,sarif
                output_file_path: checkov-results-terraform.sarif
                
            - name: Upload Checkov scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@v3
              if: success() || failure()
              with:
                  sarif_file: 'checkov-results-terraform.sarif'
                  wait-for-processing: true

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.11.1

            - name: Terraform Init
              run: terraform init

            - name: Terraform Plan
              run: terraform plan


    terraformplan-prod:
        runs-on: ubuntu-latest
        if: ${{ inputs.environment == 'prod' }}
        defaults:
            run:
                working-directory: "./terraform/environments/prod"
        permissions:
            security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
            id-token: write   # This is required for requesting the JWT
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to AWS
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::677276074604:role/github-cicd-role
                role-session-name: github-actions-session
                aws-region: eu-west-2
  
            - name: Setup Tflint
              uses: terraform-linters/setup-tflint@master
              with: 
                tflint_version: latest
  
            - name: TFlint Scan   #See this link for command flags https://github.com/terraform-linters/tflint and https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/config.md#format
              run: |
                touch tflint-results-terraform.sarif
                tflint --recursive --color
              continue-on-error: true
        
            - name: Checkov
              uses: bridgecrewio/checkov-action@master
              with:
                framework: terraform
                soft_fail: true   #Soft fail true means that the pipeline will stil continue to run regardless if a vulnerability was detected. Soft fail false would be the opposite where a detected vulnerability will cause the pipeline to stop running
                output_format: cli,sarif
                output_file_path: checkov-results-terraform.sarif
                
            - name: Upload Checkov scan results to GitHub Security tab
              uses: github/codeql-action/upload-sarif@v3
              if: success() || failure()
              with:
                  sarif_file: 'checkov-results-terraform.sarif'
                  wait-for-processing: true

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.11.1

            - name: Terraform Init
              run: terraform init

            - name: Terraform Plan
              run: terraform plan